<div class="container d-flex justify-content-center align-items-center">
  <div class="card col-6">
    <div class="card-body">
      <h1 class="card-title text-center">Editar Post</h1>

      <form {{on "submit" this.savePost}}>
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" id="title" value={{this.model.title}} class="form-control" {{on "input" this.updateTitle}} />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Conteúdo</label>
          <textarea id="content" class="form-control" {{on "input" this.updateContent}}>{{this.model.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>

