<div class="container">
  <div class="row">

    {{#if this.errorMessage}}
      <div class="alert alert-danger ml-3 mr-3">
        {{this.errorMessage}}
      </div>
    {{/if}}

    {{#each @model as |post|}}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm position-relative">

          <div class="card-body">
            <h5 class="card-title">
              <LinkTo @route="post" @model={{post.id}} >
                {{post.title}}
              </LinkTo>
            </h5>
            <p>{{format-date post.updated_at}}</p>
            <p class="card-text">
              <LinkTo @route="post" @model={{post.id}} >
                {{post.content}}
              </LinkTo>
            </p>
            <LinkTo @route="edit-post" @model={{post.id}} class="btn btn-warning ">
              <i class="bi bi-pencil-square"></i>
            </LinkTo>
            <button
              class="btn btn-danger"
              title="Excluir Post" type="button" {{on "click" (fn this.openConfirmDeleteModal post)}}
            >
            <i class="bi bi-trash3-fill"></i>
          </button>
          </div>
        </div>
      </div>
    {{/each}}

    {{!-- Confirmação delete --}}
    {{#if this.showModal}}
      <div class="modal fade show" tabindex="-1" style="display: block; background: rgba(0,0,0,0.5)">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Exclusão</h5>
              <div class="btn-close cursor-pointer" aria-label="Close" {{on "click" this.closeModal}}>
                <i class="bi bi-x"></i>
              </div>
            </div>
            <div class="modal-body">
              <p>Tem certeza que deseja excluir este post?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" {{on "click" this.closeModal}}>Cancelar</button>
              <button type="button" class="btn btn-danger" {{on "click" this.deletePost}}>Excluir</button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}


  </div>
</div>