<div class="container d-flex justify-content-center align-items-center">
  <div class="card col-6">
    <div class="card-body">
      <h1 class="card-title text-center">Criar Novo Post</h1>

      <form {{on "submit" this.savePost}}>
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            id="title"
            class="form-control"
            value={{this.model.title}}
            {{on "input" this.updateTitle}}
            required
          />
        </div>

        <div class="form-group">
          <label for="content">Conteúdo</label>
          <textarea
            id="content"
            class="form-control"
            value={{this.model.content}}
            {{on "input" this.updateContent}}
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Salvar</button>
      </form>
    </div>
  </div>
</div>
